

{% for post in site.posts %}

<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2> 

<div class="row">
  <div class="span8">
   
    {% if post.summary %}  
    <p>{{ post.summary | strip_html | truncatewords: 150 }}</p>
    {% else %}
    <p>{{ post.content | strip_html | truncatewords: 80 }}</p>
    {% endif %}

    <p><a href="{{ BASE_PATH }}{{ post.url }}">Read more...</a></p>

  </div>
  
  <div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ post.date | date_to_long_string }}</span></div>
  </div>
</div>

<hr>

{% endfor %}
